# Nixpacks configuration
[phases.setup]
nixPkgs = [
    "nodejs",
    "npm", 
    "chromium", 
    "glib", 
    "nss", 
    "freetype", 
    "harfbuzz", 
    "ca-certificates", 
    "ttf-freefont"
]
[phases.build]
cmds = ["npm install", "npm run build"]
[start]
cmd = "PUPPETEER_EXECUTABLE_PATH=$(which chromium) npm start"
